@using CharityMVC.Models
@model OurSection

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Updated Form</h6>
        <form asp-area="Admin" asp-controller="OurSection" asp-action="Delete" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Category</label>
                <input asp-for="Category" class="form-control" id="">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Raised Price</label>
                <input asp-for="RaisedPrice" class="form-control" id="">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Goal Price</label>
                <input asp-for="GoalPrice" class="form-control" id="">
            </div>

            <div>
                <input asp-for="ImgPath" />
            </div>
            <button type="submit" class="btn btn-primary">Delete</button>
        </form>
    </div>
</div>