@model GymProgramVM

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Info form</h4>
            <p class="card-description">
                Info form layout
            </p>
            <form asp-area="Admin" asp-controller="GymProgram" asp-action="Info" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputUsername1">Category</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Image</label>
                    <input class="form-control" id="exampleInputUsername1" placeholder="Username">
                </div>

                <div class="form-check form-check-flat form-check-primary">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Create</button>
            </form>
        </div>
    </div>
